*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1{
    line-height: 20px;
    margin: 10px;
    font-size: 16px;
}
h2{
    line-height: 20px;
    margin: 0 10px;
    font-size: 14px;
}
ul.info{
    margin: 10px 10px 10px 30px;
}
ul.info li{
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}